body > div.container > div.row > div:nth-of-type(2) {
  height: 400px;
  width: 600px;
}

#map {
  height: 500px;
  width: 140%;
  left: 275px;
  top: 175px;
  margin-right: 150px;
}

.row {
  display: flex;
}
.container {
  margin-top: 20px;
  margin-left: 150px;
}

html,
body {
  position: relative;
  height: 100%;
}
#title {
  color: black;
  left: 500px;
  top: 200px;
}

body {
  /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  right: 370px;
  width: 800px;
  height: 500px;
  left: 0;
  top: 175px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgb(159, 159, 159);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-next {
  color: rgb(255, 255, 255);
}
.swiper-button-prev {
  color: white;
}

.mySwiper {
  /* top: 50px; */
  width: 800px;
  height: 500px;
  margin: 0;
}

body > div:first-of-type > div.row > div:first-of-type {
  margin: 0px;
}
